<!-- HTML/5 App... -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>backboneJsGestalt</title>
		<!-- Yea, I know valuable stuff is missing here... -->
		<style>
			/* Utility Classes... */
			.display-none {
				display: none;
			}
		</style>
		<!-- Replace with CDN... -->
		<!-- Vendor Software... -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
	</head>
	<body>
		<div id="spa">
			<!-- BackboneJs App Loaded Views Container -->
		</div>
		<!-- JavaScript Templates... -->
		<!-- Index Template... -->
		<script type="text/template" id="index-view-template">
			<div id="index-view-container" class="">
				<hgroup>
					<h1><%= indexPrimaryHeading %></h1>
					<h2><%= indexSubPrimaryHeading %></h2>
				</hgroup>
				<a href="#/quest-listings"><%= indexQuestListingsBtn %></a>
				<footer id="" class="footer-drawer-sub-view">
				</footer>
			</div>
		</script>
		<!-- Footer Drawer Template... -->
		<script type="text/template" id="footer-drawer-sub-view-template">
			<div id="footer-drawer-sub-view-container" class="">
				<p class=""><%= retractedText %></p>
				<a href="#/" class="display-none"><%= signUpWithFacebookBtn %></a>
				<p class="display-none"><%= facebookDisclaimer %></p>
				<p class="display-none"><%= spacingText %></p>
				<a href="#/" class="display-none"><%= signUpWithEmailBtn %></a>
				<br>
				<span class="display-none"><%= alreadySignedUpText %></span>
				<a href="#/" class="display-none"><%= logInLinkText %></a>
			</div>
		</script>
		<!-- The BackboneJs App... -->
		<script src="backbone.testing.js"></script>
	</body>
</html>